body {
    font-size: 18px;
}

.container {
    border: 2px solid #5d86ab;
    margin: auto;
    max-width: 500px;
    max-height: 550px;
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submitted {
    padding: 20px 40px 20px 40px;
}

.warning-msg {
    color: #ff0000;
    margin: 5px 0px 5px 20px;
}

.form-wrapper {
    margin: auto;
}

.form-label {
    display: inline-block;
    width: 120px;
    background-color: #2e75b6;
    border: 2px solid #41719c;
    padding: 8px;
    margin: 8px 10px 8px 0px;
    color: #ffffff;
}

.form-value {
    display: inline-block;
    width: 300px;
    border: 2px solid #ffffff;
    padding: 8px;
}

.form-input {
    display: inline-block;
    padding: 11px 10px 11px 10px;
    border: 2px solid #41719c;
}

#name.form-input,
#address.form-input {
    width: 320px;
}

#birthday.form-input {
    width: 180px;
}

/* Hide number input spin buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:where([type="radio"]) {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #41719c;
    border-radius: 100%;
    background: #ffffff;
}

input[type="radio"]:checked {
    background: #2e75b6;
}

.form-select {
    display: inline-block;
    width: 180px;
    padding: 11px 10px 11px 10px;
    border: 2px solid #41719c;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 5px;
    background: url("./select-arrow.png") no-repeat #ffffff;
    pointer-events: none;
}

.submit-btn {
    display: block;
    background-color: #2e75b6;
    padding: 16px 32px;
    border: 2px solid #41719c;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 10px auto;
    color: #ffffff;
}

.form-image {
    height: 80px;
}

.picture-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-label {
    display: inline-block;
    width: 120px;
    padding: 8px;
    margin: 8px 0px 8px 0px;
}

.search-input {
    width: 260px;
    display: inline-block;
    background-color: #e1eaf4;
    padding: 11px 10px 11px 10px;
    border: 2px solid #41719c;
}

.search-select {
    display: inline-block;
    background-color: #e1eaf4;
    width: 260px;
    padding: 11px 10px 11px 10px;
    border: 2px solid #41719c;
}

.select-arrow-2 {
    width: 20px;
    height: 20px;
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 5px;
    background: url("./select-arrow-2.png") no-repeat #e1eaf4;
    pointer-events: none;
}

.search-btn {
    width: 150px;
    display: block;
    background-color: #4f81bd;
    padding: 15px 0px 15px 0px;
    border: 3px solid #385d8a;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto 10px auto;
    color: #ffffff;
    font-size: 15px;
}

.add-link {
    text-decoration: none;
}

.add-btn {
    width: 90px;
    display: block;
    background-color: #4f81bd;
    padding: 5px 0px 5px 0px;
    border: 3px solid #385d8a;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-student {
    width: 800px;
}

.action-btn {
    background-color: #92b1d6;
    border: #385d8a 1px solid;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}
